.app{
  padding: 20px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.movieList {
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  gap: 20px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 13px;
  border-radius: 3px;
  height: 230px;
  width: calc(33% - 20px);
}

.movieCard .animation{
  background: blue;
}

.btnContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%
}

.btnContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.likeBtn{
  height: 30px;
  width: 100px;
  background-color: black;
  color: #f4f4f4;
  transition: 0.5s ease-out;

  font-size: 13px;
  border-width: 0px;
  cursor: pointer;
}

.likeBtn:hover{
  height: 30px;
  width: 100px;
  border: 1px solid black;
  background-color: #f4f4f4;
  color: black;
  transition: 0.3s ease-in;

  font-size: 13px;
  border: none;
  cursor: pointer;
}


.movieCard .comedy{
  background: green;
}

.movieCard .thriller{
  background: red;
}

.movieCard .drama{
  background: purple;
}

.movieCard h3 {
  font-weight: bold;
}

.gauge {
  display: flex;
  height: 35px;
  overflow: hidden;
}

.movieCard .likes {
  background: green;
  color: white;
  text-align: center;
  line-height: 20px;
}

.movieCard .dislikes {
  background: red;
  color: white;
  text-align: center;
  line-height: 20px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  height: 50px;
}

.pagination {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .movieCard {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .movieCard {
    width: 100%;
  }
}
